<div class="sidenav">
  <nz-statistic
    [nzValue]="(9101 | number)!"
    nzTitle="Всего рецептов"
  ></nz-statistic>
  <nz-divider></nz-divider>
  <a nz-button
     nzSize="large"
     nzType="link">
    <i nz-icon nzType="home"></i>
    Главная
  </a>
  <a nz-button
     nzSize="large"
     nzType="link">
    <i nz-icon nzType="experiment"></i>
    Рецепты
  </a>
  <a nz-button
     nzSize="large"
     nzType="link">
    <i nz-icon nzType="build"></i>
    Конструктор
  </a>
  <nz-divider></nz-divider>
  <div>
    популярные теги
  </div>
</div>
