:host {
  text-align: center;
}

nz-header, nz-footer {
  background: #fff;
}

nz-header {
  box-shadow: 0 3px 12px rgb(2 20 43 / 8%);
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #fff;
  line-height: 50px;
}

nz-content {
  min-height: 120px;
  line-height: 120px;
}

nz-layout {
  margin-bottom: 48px;

  &:last-child {
    margin: 0;
  }
}

