@font-face {
  font-family: 'Food';
  src: local('Food'), url(assets/fonts/food.ttf) format('truetype');
}

@font-face {
  font-family: 'Heellaz';
  src: local('Heellaz'), url(assets/fonts/heellaz.ttf) format('truetype');
}

$default-margin: 12px;
$double-margin: $default-margin * 2;
